
.HireBlock{
    height: 100vh;
    /*background: url("./mainPhoto1.jpg");*/
}
.hireContainer{
    flex-direction: column;
    justify-content: center;
}
.title{
    background-color: #a84a2e;
}

.hireBtn{
    padding: 10px 20px;
    background-color: #a87a2e;
}
