
@import '../../styles/sass/_var';
.title{
    margin: 0 0 30px ;
    /*font-family: 'Rufina', sans-serif;*/
    /*font-family: 'Poppins' , sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
    font-weight: 300;
    color: $textColor;
    line-height: 1.2;
    text-transform: capitalize;
    letter-spacing: 5px;
    position: relative;
    .title h2{
        margin: 0;
    }
    &::before{
        content: '';
        position: absolute;
        background-color: $primaryColor;
        width: 55px;
        height: 2px;
        bottom: -20px;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}



