
.SkillsBlock{
    min-height: 100vh;
    /*background-color: #111517;*/
    background: url("../header/header.jpg") ;
}
.skillsContainer{
    flex-direction: column;
    justify-content: flex-start;
    /*flex-wrap: nowrap;*/
}
.title{
    background-color: coral;
}
.skills{
    /*border: 1px solid;*/
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
