@import './../../styles/variables';

html {
    scroll-behavior: smooth;
}
.header_nav {
    grid-area: h;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    :hover{
        color: $SecondPrimaryTextColor;
        font-family: 'Poppins', sans-serif;
    }
    img {
        width: 40px;
        height: 40px;
        filter: invert(1);
    }
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 15px;

    }
}



