@import './../../styles/variables';

.blockTitle {
  width: 100%;
  min-height: 800px;
  background-color: rgb(0, 0, 0);
  @media (max-width: 1371px) {
    min-height: 1120px;
    @media (max-width: 1290px) {
      min-height: 840px;
    }
  }

  .container {
    position: relative;
    z-index: 111;
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.9fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-template-areas:
    "h"
    "h"
    "h";
    @media (max-width: 1371px) {
      grid-template-areas:
    "h"
    "h"
    "h";
    }
    @media (max-width: 850px) {
      display: flex;
      justify-content: center;
    }

    .skillsBlock {
      grid-area: h;
      display: grid;
      grid-auto-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 1.6fr;
      grid-template-areas:
    "h"
    "c";
      @media (max-width: 1371px) {
        grid-template-rows:0.1fr 1.9fr;
      }
      @media (max-width: 850px) {
        margin: -40px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .skillsTitle {
        grid-area: h;
        min-height: 150px;
        text-align: center;
        font-size: 51px;
        line-height: 62px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase !important;

        .h1Text{
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
          padding: 0;
          color: #111;
          font-size: 3rem;
        }
        .h1Text span{
          display: table-cell;
          margin: 0;
          padding: 0;
          animation: animate 2s linear infinite;

        }
        .h1Text span:nth-child(1){
          animation-delay: 0s;
        }
        .h1Text span:nth-child(2){
          animation-delay: 0.25s;
        }
        .h1Text span:nth-child(3){
          animation-delay: 0.5s;
        }
        .h1Text span:nth-child(4){
          animation-delay: 0.75s;
        }
        .h1Text span:nth-child(5){
          animation-delay: 1s;
        }
        .h1Text span:nth-child(6){
          animation-delay: 1.25s;
        }
        .h1Text span:nth-child(7){
          animation-delay: 1.5s;
        }
        .h1Text span:nth-child(8){
          animation-delay: 1.75s;
        }


        @keyframes animate {
          0%,100%{
            color: $SecondPrimaryTextColor;
            filter: blur(2px);
            text-shadow: 0 0 10px $triangleBlockColor,
            0 0 20px $triangleBlockColor,
            0 0 40px $triangleBlockColor,
            0 0 80px $triangleBlockColor,
            0 0 120px $triangleBlockColor,
            0 0 200px $triangleBlockColor,
            0 0 300px $triangleBlockColor,
            0 0 400px $triangleBlockColor;
          }
          5%,90%{
            color: #111;
            filter: blur(0px);
            text-shadow: none;
          }
        }

        p {
          display: inline-block;
          color: $FirstPrimaryTextColor;
        }

        span {
          display: inline-block;
          color: $SecondPrimaryTextColor;
        }

        @media (max-width: 850px) {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
        }
      }

      .skillsMain {
        grid-area: c;
        min-height: 350px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        @media (max-width: 850px) {
          //border: 1px solid black;
          min-height: 350px;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}



