
.Nav {
    /*border: 1px solid mediumvioletred;*/
    background-color: rgba(17, 21, 23, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 8px;
    line-height: 1.2;
    width: 600px;
    display: flex;
    justify-content: space-between;

}
