@import './../styles/variables';

.blockTitle {
  width: 100%;
  min-height: 250px;
  background-color: black;
  display: grid;
  grid-template-columns: 1.9fr;
  grid-template-rows: 0.3fr 2fr 0.3fr;
  grid-template-areas:
    "."
    "h"
    ".";
  align-items: center;
  .container {
    grid-area: h;
    width: 70%;
    margin: 0 auto;

    .footerTitle {
      position: relative;
      z-index: 111;
      height: 200px;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.78);
      border-radius: 13px;
      -webkit-box-shadow: -16px 21px 13px 8px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: -16px 21px 13px 8px rgba(0, 0, 0, 0.4);
      box-shadow: -16px 21px 13px 8px rgba(0, 0, 0, 0.4);
      border: 3px groove $BorderColor;

      p {
        font-size: 25px;
        display: inline-block;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase !important;
        color: $FirstPrimaryTextColor;
        margin-right: 5px;
      }

      span {
        font-size: 25px;
        display: inline-block;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase !important;
        color: $SecondPrimaryTextColor;
      }

      .footerTitle_header {
        display: flex;
      }

      .footerBox {
        min-width: 550px;
        display: flex;
        justify-content: space-between;

        img {
          height: 60px;
          min-width: 60px;
          transition: all 0.7s ease;
          border-radius: 8px;
        }

        .black_Img {
          filter: invert(1);
          img {
            &:hover {
              margin: 0 0 0 5px;
              height: 55px;
              min-width: 55px;
              border-radius: 25%;
              border: 3px groove black;
              transition: all 0.6s ease;
            }
          }
        }
        .link img{
          &:hover{
            margin: 0 0 0 5px;
            height: 55px;
            min-width: 55px;
            border-radius: 45%;
            border: 3px groove white;
            transition: all 0.6s ease;
          }
        }

        @media(max-width: 800px) {
          min-width: 350px;
          div {
            height: 60px;
            width: 60px;
          }
        }
        @media(max-width: 580px) {
          img {
            height: 50px;
            min-width: 50px;
          }
        }

        //@media(max-width: 520px) {
        //  border: none;
        //}
        @media(max-width: 503px) {
          min-width: 321px;
          img {
            height: 50px;
            min-width: 50px;
          }
        }
        @media(max-width: 481px) {
          min-width: 300px;
          img {
            height: 40px;
            min-width: 40px;
          }
        }
        @media(max-width: 440px) {
          min-width: 270px;
        }
        @media(max-width: 420px) {
          min-width: 220px;
          img {
            height: 30px;
            min-width: 30px;
            margin: 18px 0 0 12px;
          }
        }
        @media(max-width: 372px) {
          min-width: 220px;
          img {
            height: 30px;
            min-width: 30px;
            margin: 18px 0 0 12px;
          }
        }

      }
      @media(max-width: 620px) {
        height: 150px;
        p {
          font-size: 15px;
        }
        span {
          font-size: 15px;

        }
      }
      @media(max-width: 580px) {
        height: 140px;
        p {
          font-size: 15px;
        }
        span {
          font-size: 15px;
        }
      }
      @media(max-width: 410px) {
        height: 120px;
        p {
          font-size: 14px;
        }
        span {
          font-size: 14px;
        }
      }
      //@media(max-width: 520px) {
      //  //border: none;
      //  font-size: 18px;
      //  img {
      //    height: 40px;
      //    min-width: 40px;
      //  }
      //}
      @media(max-width: 365px) {
        height: 100px;
        p {
          font-size: 12px;
        }
        span {
          font-size: 12px;

        }
      }
    }
  }
}




